<DefaultConfig>
    CONFIG_REP = /usr/share/YaTeA/config
    LOCALE_REP = /usr/share/YaTeA/locale
    RESULT_REP = $PWD/RESULTS
</DefaultConfig>
<OPTIONS>
    MESSAGE_DISPLAY = EN
    language = EN
    xmlout = 1
    printChunking = 0
    suffix = "default"
    TC-for-BioLG = 0 
    TT-for-BioLG = 0 
    debug = 0
    termList = "multi"
#     termino = "$HOME/terms.txt"
    TTG-style-term-candidates = "multi"
    monolexical-included = 0
    monolexical-all = 0
    match-type = "" 
    XML-corpus-for-BioLG = 0
    annotate-only = 0
</OPTIONS>


